$base-size: 300px;

.tile {
  box-shadow: 0 1px 10px rgba(#000, 0.4);
  margin: 5px;
  padding: 25px 12px;
  text-align: center;
  background: #5C6A79;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 253px;

  h1 {
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 0.7;
    margin: 0;
  }

  h2 {
    font-size: 3.8rem;
    word-wrap: break-word;
    line-height: 1.1;
    font-weight: 700;
    margin: 15px 0;
    text-shadow: 0 1px 1px rgba(#000, 0.4);
  }

  .list {
    list-style: none;
    display: table;
    margin: 15px 0;
    padding: 0;
    font-size: 24px;

    li {
      display: table-row;
    }

    span {
      display: table-cell;
      width: 50%;
      opacity: 0.7;
      padding: 2px 10px;

      + span {
        opacity: 1;
        font-weight: bold;
      }
    }
  }

  footer {
    margin-bottom: -18px;

    p {
      font-size: 20px;
      margin: 0;
    }
  }

  .more-info {
    opacity: 0.7;
  }

  .updated-at {
    color: rgba(#000, 0.3);
  }

  &.teal {
    background: $teal;
  }

  &.green {
    background: $green;
  }

  &.red {
    background: $red;
  }

  &.purple {
    background: $purple;
  }

  &.pink {
    background: $pink;
  }

  &.yellow {
    background: $yellow;
  }

  &.orange {
    background: $orange;
  }

  &.blue {
    background: $blue;
  }
}

@for $i from 1 through 4 {
  .span-#{$i} {
    @if $i > 1 {
      flex-basis: ($base-size * $i) + 10px;
    } @else {
      flex-basis: ($base-size * $i);
    }

    flex-grow: $i;
  }
}

@media (max-width: 600px) {
  $base-size: 200px;

  html {
    font-size: 14px;
  }

  .tile {
    min-height: 210px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  @for $i from 1 through 4 {
    .span-#{$i} {
      flex-basis: ($base-size * $i) + 10px;
      flex-grow: $i;
    }
  }
}
